.coder-editor__btn {
  width: 100%;
  border: solid 4px #5080fb00;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  padding: 1.6rem;
  background-color: #5081fb14;
  color: $color-font-primary;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #5080fb31;
  }
  &:active {
    border: solid 4px #5080fb5e;
  }
}
