@import "./syntax-highlight/container-syntax-highlight.scss";
@import "./syntax-highlight/elipse.scss";
@import "./syntax-highlight/textearea-code.scss";
.coder-editor__container-editor {
  padding: 3rem;
  background-color: #00ffff;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
}
