$main-bg: #051d3b;
$input-bg: #2d415b;
$color-font-primary: #fff;
$inputs-form-bg: #ffffff29;
$inputs-form-bg-hover: #ffffff5d;
$btn-bg: #5081fb;
$btn-bg-hover: #7ba4fc;
$elipse-red: #ff5f56;
$elipse-yellow: #ffbd2e;
$elipse-green: #27c93f;
$editor-code-bg: #141414;
