@import "./reset.scss";
@import "./colors.scss";
@import "./header/header-container.scss";
// @import "./main/section-projects/section-projects.scss";
@import "./main/modal/modal.scss";
@import "./main/main-content.scss";
.wrapper {
  width: min(90vw, 1440px);
  margin: 0 auto;
}

.main-bg {
  background-color: $main-bg;
  padding: 2rem 0;
}
