.header-container__search {
  display: none;
}

@media (min-width: 768px) {
  .menu-nav__search-icon {
    display: none;
  }
  .header-container__search {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: $input-bg;
    border: none;
    border-radius: 0.5rem;
    &::placeholder {
      color: $color-font-primary;
      font-size: 1rem;
    }
  }
}

@media (min-width: 1144px) {
  .header-container__search {
    width: 70%;
    padding: 1.5rem;
    &::placeholder {
      font-size: 1.5rem;
    }
  }
}
